.osnova {
  margin-top: 140px;
  display: block;
}
.osnova-title {
  font-size: 46px;
  font-weight: 500;
  line-height: 57px;
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.osnoving {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.osnov-1 {
  color: darkgray;
  font-size: 24px;
  margin-bottom: 60px;
  font-family: "Raleway", sans-serif;
  line-height: 24px;
}
.osnov-2 {
  margin-bottom: 30px;
}
.mobile-df {
  display: flex;
  gap: 30px;
}
.servises {
  width: 100%;
  background: #3d4a39;
}
.servises {
  color: #fff;
  margin-top: 140px;
}
.servises-title {
  font-weight: 600;
  font-size: 46px;
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.ser-bos1 {
  display: flex;
  gap: 285px;
  justify-content: center;
  padding-top: 73px;
  margin-bottom: 70px;
}
.ser1 {
  font-family: "Raleway", sans-serif;
}
.ser1-img1 {
  margin-left: 20px;
}
.ser-bos2 {
  display: flex;
  gap: 285px;
  justify-content: center;
  margin-bottom: 150px;
}
.boxing1 {
  margin-top: 100px;
}
.box1 {
  display: flex;
  align-items: center;
  gap: 107px;
}
.box1-text1 {
  text-align: center;
  max-width: 814px;
  font-size: 36px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}
.box2 {
  margin-top: 70px;
  display: flex;
  font-family: "Raleway", sans-serif;
  gap: 120px;
  justify-content: center;
  border-top: 2px solid darkgray;
  border-bottom: 2px solid darkgray;
}
.bo1 {
  max-width: 560px;
}
.bo2 {
  max-width: 560px;
}
.boxing2 {
  margin-top: 140px;
  position: relative;
}
.net-title {
  font-size: 46px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
}
.hr1 {
  margin-top: 80px;
  margin-bottom: 50px;
}
.net1 {
  display: flex;
  gap: 40px;
}
.netsh1 {
  margin-left: auto;
}
.net1-p1 {
  color: darkgrey;
  font-size: 25px;
}
.net1-p2 {
  margin-bottom: 40px;
}
.hr2 {
  margin-top: 20px;
  margin-bottom: 50px;
}
.imging2 {
  position: absolute;
}
h3:hover {
  color: chocolate;
}
