.osnova {
  margin-top: 140px;
  display: block;
}
.osnova-title {
  font-size: 46px;
  font-weight: 500;
  line-height: 57px;
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.osnoving {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.osnov-1 {
  color: darkgray;
  font-size: 24px;
  margin-bottom: 60px;
  font-family: "Raleway", sans-serif;
  line-height: 24px;
}
.osnov-2 {
  margin-bottom: 30px;
}
.mobile-df {
  display: flex;
  gap: 30px;
}
.servises {
  width: 100%;
  background: #3d4a39;
}
.servises {
  color: #fff;
  margin-top: 140px;
}
.servises-title {
  font-weight: 600;
  font-size: 46px;
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.ser-bos1 {
  display: flex;
  gap: 285px;
  justify-content: center;
  padding-top: 73px;
  margin-bottom: 70px;
}
.ser1 {
  font-family: "Raleway", sans-serif;
}
.ser1-img1 {
  margin-left: 20px;
}
.ser-bos2 {
  display: flex;
  gap: 285px;
  justify-content: center;
  margin-bottom: 150px;
}
.boxing1 {
  margin-top: 100px;
}
.box1 {
  display: flex;
  align-items: center;
  gap: 107px;
}
.box1-text1 {
  text-align: center;
  max-width: 814px;
  font-size: 36px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}
.box2 {
  margin-top: 70px;
  display: flex;
  font-family: "Raleway", sans-serif;
  gap: 120px;
  justify-content: center;
  border-top: 2px solid darkgray;
  border-bottom: 2px solid darkgray;
}
.bo1 {
  max-width: 560px;
}
.bo2 {
  max-width: 560px;
}
.boxing2 {
  margin-top: 140px;
  position: relative;
}
.net-title {
  font-size: 46px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
}
.hr1 {
  margin-top: 80px;
  margin-bottom: 50px;
}
.net1 {
  display: flex;
  gap: 40px;
}
.netsh1 {
  margin-left: auto;
}
.net1-p1 {
  color: darkgrey;
  font-size: 25px;
}
.net1-p2 {
  margin-bottom: 40px;
}
.hr2 {
  margin-top: 20px;
  margin-bottom: 50px;
}
.imging2 {
  position: absolute;
}
h3:hover {
  color: chocolate;
}
.plans {
  width: 100%;
  background: #3d4a39;
  color: #fff;
}
.pl-box {
  display: flex;
  align-items: center;
}
.pl1-title {
  font-weight: 600;
  font-size: 46px;
  line-height: 57.5px;
  width: 413px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}
.pl2 {
  margin-left: auto;
}
.pl1-text1 {
  max-width: 306px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  padding-top: 20px;
}
.input1 {
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #fff;
  width: 300px;
  padding: 10px 10px;
  margin-top: 40px;
}
.input-file {
  width: 25px;
  height: 25px;
  background-color: darkgray;
  display: block;
}
.lable1 {
  display: flex;
  align-items: center;
  gap: 30px;
  color: darkgray;
  font-size: 12px;
}
.pl1-text2 {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  margin-top: 30px;
}
.etp-title {
  display: flex;
  justify-content: center;
  margin-top: 140px;
  font-weight: 600;
  font-size: 46px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}
.etp1-text1 {
  font-weight: 600;
  color: black;
  font-size: 20px;
  border: 2px darkgray solid;
  display: inline-block;
  border-radius: 50px;
  padding: 13px 18px;
  margin-bottom: 20px;
}
.etp1-text2 {
  color: rgb(40, 43, 34);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
}
.etp1-text3 {
  max-width: 240px;
  color: rgb(40, 43, 34);
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 145%;
  letter-spacing: 0%;
  opacity: 0.8;
  margin-top: 12px;
}
.etap-df {
  margin-top: 80px;
  display: flex;
  gap: 80px;
  justify-content: center;
}
.hr3 {
  margin-top: 100px;
}
.zaraz {
  margin-top: 80px;
}
.zaraz-title {
  display: flex;
  justify-content: center;
  margin-top: 140px;
  font-weight: 600;
  font-size: 46px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}
.zar1 {
  display: flex;
  align-items: center;
  gap: 30px;
}
.zar1-text1 {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  color: rgb(40, 43, 34);
  font-family: Raleway;
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
}
.podarok {
  margin-top: 150px;
  width: 100%;
  background: rgb(243, 243, 243);
}
.pod {
  display: flex;
  justify-content: center;
  gap: 130px;
}
.pod1-title {
  width: 362px;
  color: rgb(40, 43, 34);
  font-family: "Raleway", sans-serif;
  font-size: 46px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.pod1-texting {
  justify-content: center;
}
.pod1-text1 {
  color: rgb(40, 43, 34);
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: 0%;
  text-align: center;
  width: 355px;
  margin-bottom: 20px;
}
.pod1-btn {
  margin-left: 70px;
  color: #fff;
  width: 260px;
  box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.05);
  background: rgb(174, 123, 60);
  padding: 22px 22px;
  text-align: center;
}
.partniyor {
  margin-top: 140px;
}
.partniyor-title {
  display: flex;
  justify-content: center;
  color: rgb(40, 43, 34);
  font-family: Raleway;
  font-size: 46px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.partniyor-imging {
  display: flex;
  margin-top: 60px;
  justify-content: center;
  margin-bottom: 150px;
  gap: 20px;
}
.oh1 {
  display: flex;
  gap: 10px;
}
.main-ohiri {
  margin-top: 100px;
}
.ohir-df {
  display: flex;
  justify-content: space-between;
}
.ohir2-text1:hover {
  color: chocolate;
}
