@media (max-width: 1000px) {
    .nav-yoqbuvchi {
        display: block;
    }

    .link {
        display: none;
    }

    .contacts {
        display: none;
    }

    .web-imgs {
        display: none;
    }

    .hero-title {
        font-size: 45px;
    }

    .osnoving {
        display: block;
    }

    .mobile-df {
        display: flex;
    }

    .img1 {
        width: 150px;
    }

    .ser-bos1 {
        display: block;
    }

    .ser-bos2 {
        display: none;
    }

    .ser1 {
        margin-top: 50px;
        display: flex;
        align-items: center;
        font-size: 25px;
        gap: 45px;
        justify-content: center;
    }

    .servises-title {
        font-size: 35px
    }

    .box1 {
        display: block;

    }

    .box1-text1 {
        margin-top: 25px;
    }

    .box2 {
        gap: 10px;
    }

    .bo2 {
        display: none;
    }

    .imging2 {
        display: none;
    }

    .pl-box {
        display: block;
    }

    .pl1-title {
        padding-top: 30px;
    }

    .pl2-img1 {
        margin-top: 50px;
        width: 350px;
    }

    .etp-title {
        font-size: 30px
    }

    .etap-df {
        display: block;
        justify-content: center;
    }

    .etp1 {
        margin-top: 50px;
    }

    .zar1 {
        display: block;
        align-items: center;
    }

    .img4-zar {
        display: none;
    }

    .zaraz-title {
        font-size: 30px
    }

    .img4-zar1 {
        width: 330px;
    }

    .pod1-img {
        display: none;
    }

    .pod1-btn {
        display: flex;
        justify-content: center;
    }

    .partniyor-imging {
        display: block;
        justify-content: center;
    }

    .partniyor-title {
        font-size: 30px
    }

    .ohir-df {
        display: block;
    }

    .ohir2 {
        display: none;
    }

    .foter-img {
        display: none;
    }




}

;